nav {
  top: 20px; /* Position from the top */
  left: 0; /* Position from the left */
  bottom: 20px; /* Position from the bottom */
  max-height: calc(100vh - 10px);/* Full height minus top and bottom margins */
  background-color: #B5C0D0;
  padding: 10px;
  min-width: 160px; /* Fixed width */
  overflow-y: auto; 
  margin-right: 30px;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

nav ul li {
  display: flex;
  align-items: center;
  margin-left: 0;
  padding-bottom: 13px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: medium;
}

nav ul li a:hover {
  color: crimson; /* Color while hovering */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logout-button {
  margin-left: 45px;
  font-size: 14px;
  align-items: center;
  margin-top: 270px;
  background-color: #759ebd; /* Set background color */
  border: 1.2px solid black;
  padding: 4px;
  cursor: pointer;
  transition: rgb(200, 213, 233) 0.3s; /* Smooth transition on hover */
}

.logout-button:hover {
  background-color: #293858a8; /* Change background color on hover */
}

.logout-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logout-dialog p {
  background-color: #fff;
  border: 4px solid #759ebd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}
