nav {
<<<<<<< HEAD
  top: 20px; /* Position from the top */
  left: 0; /* Position from the left */
  bottom: 20px; /* Position from the bottom */
  max-height: calc(100vh - 10px);/* Full height minus top and bottom margins */
  background-color: #B5C0D0;
  padding: 10px;
  min-width: 160px; /* Fixed width */
  overflow-y: auto; 
  margin-right: 30px;

=======
  height: 80vh;
  background-color: #B5C0D0;
  padding: 45px;
  position: relative;
  min-width: 245px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  top: 4%;
  left: 2%;
>>>>>>> 45d81bcbc2f2c82e1f227fdb76715d9e0fe3e9b9
}


nav ul {
  list-style: none;
  margin: 0;
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 0;
}
nav ul li {
  display: flex;
  margin-left: 0;
  width: 100%;
  padding: 17px;
  justify-content: start;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: medium;
}

nav ul li a:hover {
  color: crimson; /* Color while hovering */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo img {
  width: 4rem;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logout-button {
  font-size: 14px;
  background-color: #759ebd;
  border: 1.2px solid black;
  padding: 4px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logout-button:hover {
  background-color: #293858a8; /* Change background color on hover */
}

.logout-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logout-dialog p {
  background-color: #fff;
  border: 4px solid #759ebd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}
