.login-container {
    position: relative;
    display: flex;
    flex-direction: row-reverse; /* Reversed direction to position image to the right */
    height: 100vh;
    padding-left: 45px;
  }
  
  .login-pic {
    flex: 1; /* Occupy half of the width */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the image vertically */
    padding-right: 30px;
  }
  
  .login-pic img {
    width: 100%;
    max-height: 100%; /* Adjust height to match container height */
    object-fit: cover; /* Ensure image covers the entire container */
  }
  
  .login-content {
    flex: 1; /* Occupy the other half of the width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* White background */
  }
  
  .login-header {
    width: 100%; /* Full width */
    text-align: center;
  }
  
  .login-header h2 {
    font-size: 44px;
    color: #333;
  }
  
  form {
    width: 100%; /* Full width */
    max-width: 400px; /* Limit form width */
    padding: 20px;
    text-align: center;
  }
  
  input, select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  button{
    background-color: black;
    color: white;
    font-size: 20px;
    width: fit-content;
    border: 0.9px solid black;
    padding: auto;
  }

  button:hover {
    background-color: rgb(109, 36, 51);
  }
  
  .text-error {
    color: red;
    font-size: 14px;
  }

  .login-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: fit-content;
  }
  
  .login-dialog p {
    margin-bottom: 10px;
  }
  
  .login-dialog.success {
    border: 2px solid black; /* Green border for success */
  }
  
  .login-dialog.error {
    border: 2px solid #dc3545; /* Red border for error */
  }
  
  .login-dialog button {
    font-size: 11px;
    background-color: white;
    color: black;
    border: 1.2px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
  }
  
  .login-dialog button:hover {
    background-color: crimson; /* Darker blue color on hover */
  }
  
  