/* menu.css */

.container {
  display: flex;
  flex-direction: row;
}

.container main {
  flex: 1;
  padding: 20px;
}

.heading-txt {
  text-align: center;
  margin-bottom: 30px;
}

.cards {
  display: ruby;
  flex-direction: column ;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-price {
  font-size: 20px;
  font-weight: bold;
  color: #ff6600;
}

.card-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-button {
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #e65c00;
}

.nav{
  height: 100%;
}