.waiter-setting-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-navbar {
  width: 200px; 
}

.waiter-list {
  display: flex;
  flex-direction: column;
  width: 100%; 
  padding-left: 10px;
  box-sizing: border-box;
}

.waiter-list table {
  width: 600px;
  border-collapse: collapse;
  overflow-x: auto;
}

.waiter-list th,
.waiter-list td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.waiter-list th {
  background-color: #d6dde7;
}

.waiter-list h2,
.waiter-list h3{
  font-size: 28px;
  font-weight: bolder;
}

.waiter-list button {
  background-color: #d6dde7;
  color: black;
  font-weight: bold;
  border: none;
  padding: 4px ;
  font-size: 14px;
  cursor: pointer;
}

.waiter-list button:hover {
  background-color: rgb(154, 29, 54);
  color: white;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.waiter-list .add-waiter button{
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #B5C0D0;
  color: black;
}

.add-waiter {
  margin-top: 20px;
}

.add-waiter input {
  margin-right: 10px;
  width: -webkit-fill-available;
}