
.popup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -4rem;
}
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  color: white;
  background-color: #23304b;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 3rem;
}
.about-text {
  text-align: justify;
  padding: 0px 32px;
  margin-bottom: 3rem;
}
.about-text h2{
  width: 100%;
  text-align: center;
}
.story-pics {
  width: 80%;
  margin-bottom: 39px;
  border: 15px solid white;
}
.story-pics img {
  width: 100%;
  
}